:root {
  --color-white: #ffffff;
  --color-white-soft: #f8f8f8;
  --color-white-mute: #f2f2f2;

  --color-black: #181818;
  --color-black-soft: #222222;
  --color-black-mute: #282828;

  --color-yellow: #ffc351;
  --color-lime: #92C327;
  
  --hsl-red: 0, 100%, 40%;
}

:root {
  --color-background: var(--color-white);
  --color-background-soft: var(--color-white-soft);
  --color-background-mute: var(--color-white-mute);

  --color-heading: var(--color-black-soft);
  --color-text: var(--color-black-mute);

  --container-width: 1200px;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: var(--container-width);
  margin-inline: auto;
  padding: 1rem;
}

a:not(:has(img)) {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: background-color 200ms ease;
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;

  &:hover {
    background-color: var(--color-yellow);
  }
}

h1,
h2,
h3 {
  color: var(--color-heading);
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.8rem;
}