/* color palette from <https://github.com/vuejs/theme> */
:root {
  --clr-white: #ffffff;
  --clr-white-soft: #f8f8f8;
  --clr-white-mute: #f2f2f2;

  --clr-black: #181818;
  --clr-black-soft: #222222;
  --clr-black-mute: #282828;

	--clr-yellow: #ffc351;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--clr-white);
  --color-background-soft: var(--clr-white-soft);
  --color-background-mute: var(--clr-white-mute);

  --color-heading: var(--clr-black-mute);
  --color-text: var(--clr-black-mute);

  --section-gap: 160px;
	--container-width: 1200px;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
	max-width: var(--container-width);
	margin-inline: auto;
}

a:not(:has(img)) {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	transition: background-color 200ms ease;
	padding: 0.1rem 0.2rem;
	border-radius: 0.2rem;

	&:hover {
		background-color: var(--clr-yellow);
	}
}