.customer{
	&-view {
		margin-top: 2rem;
		position: relative;
		h1, h2 {
			margin-block: 1rem;
		}

		.inset {
			position: absolute;
			inset: 0;
			min-height: 200px;
		}
	}

	&-details {
		background-color: var(--color-background-soft);
		border-radius: 12px;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		row-gap: 0.4rem;

		&__group {
			display: flex;
			column-gap: 0.5rem;
		}
	}

	&-products {
		margin-top: 2rem;

		&__grid {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			gap: 2rem;

			@media (min-width: 768px) {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}
}